<?xml version="1.0" encoding="utf-8" ?>



<configuration>

  <connectionStrings>
    <add name="DBconnectionString" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS;Database=T4DDBMonitoring;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Yes/No -->
    <add key="freezeScreen" value="Yes" />
    <add key="SendEmails" value="No" />
    <add key="SendSMS" value="No" />
    <add key="ExcelFile" value="WWH1_test.xlsx" />

    <!-- Timeblock settings, TimeStart is earlier than TimeEnd, TimeEnd is closer to TimeNow -->
    <add key="BlockSizeHrs" value="12" /><!-- must be a factor of 24  -->

    <!-- Folders -->
    <add key="SystemStatusFolder" value="C:\__SystemLogs\" />
    <add key="ExcelPath" value="C:\_SystemPerformance\" />
    <add key="ExcelFile" value="WWH1_test.xlsx" />

    <!-- Worksheets -->
    <add key="SurveyWorksheet" value="Survey" />
    <add key="ReferenceWorksheet" value="Reference" />
    <add key="AlarmWorksheet" value="Alarm" />

    <add key = "FirstDataRow" value = "2" /> <!--First row of data in the Reference worksheet-->
    <add key = "FirstDataCol" value = "6" /> <!--Column which will contain the dE in the Reference worksheet-->

    <!-- SMS settings -->
    <add key="SMSTitle" value="JAG_DEphone" />
    <add key="RecipientPhone1" value="+4917672997904" /><!-- None -->
    <add key="RecipientPhone2" value="None" /><!-- None -->
    <add key="RecipientPhone3" value="None" /><!-- None -->
    <add key="RecipientPhone4" value="None" /><!-- None -->
    <add key="JAGstatus" value="No" />

    <!-- Email settings -->

    <add key="AddAttachment" value="No" />
    <add key="EmailFrom" value="T4DSMLGroup@gmail.com" />
    <add key="EmailLogin" value="T4DSMLGroup@gmail.com" />
    <add key="EmailPassword" value="MonitoringT4D" />
    <add key="EmailRecipients" value="gna.geomatics@gmail.com" />
    
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />
    
  </appSettings>
  
</configuration>